{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcom to My Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam dolores explicabo aperiam optio, ex quibusdam tenetur ab velit possimus repudiandae rerum, inventore tempora aliquam repellendus, natus eligendi voluptate cupiditate qui.</p>
</body>
</html>